h1 {
    color: black;
    text-align: center;
  }
  
h2 {
    font-style: italic;
    text-align: center;
    color: black;
  }
  
p {
    color: black;
  }

body {
    background-color: ##F8F8FF;
    text-align: center;
  }

ul {
    text-align: left;

  }

.main{
    height: 350px;
    width: 600px;

}

.activity{
    height: 200px;
    width: 300px;

}

.stays{
    height: 200px;
    width: 300px;

}

.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */

.row1:after {
    content: "";
    display: table;
    clear: both;
  }

.row2:after {
    content: "";
    display: table;
    clear: both;

  }
